     /* header section */
     .head{
        width: 100%;
        height: 23vh;
        
        
      }
      .ECOURSES{
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: space-around;
     
      }
      .navagaction{
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: space-around;
     

      }
      .navagaction .subject{
        width: 20%;
        height: 10vh;
        font-size: 14px;
        top: 20px;
        background-color: whitesmoke;
        
        text-align: center;
        
      }
      .navagaction .subject a{
        text-decoration: none;
        color: tomato;
      }
       .subject:hover{
        background-color: rgb(221, 214, 214);
       }
      .navagaction .navbar{
        width: 50%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
       

      }
      .navagaction .navbar a{
        text-decoration: none;
        color: black;
     
      }
      .jointbar{
        width: 10%;
      }
      .jointbar button{
       width: 100%;
       height: 6vh;
       font-size: 18px;
       border-radius: 10px;
       background-color: rgb(249, 97, 70);
       border:none;
      }
      .jointbar button:hover{
        background-color: rgb(179, 67, 47);
      }
     /* section */
        .section{
          width: 100%;
          height: 80vh;
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
            background-image: url(img/carousel-1.jpg);
            background-size: 100% 60vh;
            background-repeat: no-repeat;
         
        }
        .section h1{
          color: white;
          font-size: 45px;
          text-align: center;
          
         }
         .section a{
          color: white;
          font-size: 25px;
          margin-left: 10px;
          text-decoration: none;
          text-align: center;
          
         }
         .secA{
           text-align: center;
         }
         .section .secA a:hover{
           text-decoration: underline;
         }
        .section a:hover{
          text-decoration: underline;
        }
          /* ABOUT US    Innovative Way To Learn */
      .aboutus{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
    align-items: flex-end;
      }
      .contact1 button{
       width: 30%;
       height: 6vh;
       font-size: 18px;
       border-radius: 10px;
       background-color: rgb(248, 47, 47);
       border:none;
       color: white;
      }
      .contact{
        width: 40%;
        height:80vh;
        border-radius: 10px;
      }
      .contact1{
        width: 50%;
        height:80vh;
      }
      .contact img{
        border-radius: 10px;
        width: 90%;
        height: 70vh;
      }
      .contact1 h2{
        font-size: 24px;
        color: tomato;
        font-family: Arial Black;

      }
      .contact1 h1{
        font-size: 35px;
        font-weight: bolder;
        font-family: Arial Black;
      }
      .contact1 p{
        font-size: 18px;
        line-height: 28px;
      }
        /* NEED ANY COURSES */
      .chooseus{
        width: 100%;
        height: 125vh;
        background-image: url(url(../img/carousel-1.jpg));
        background-size: 100% 110vh ;
        background-repeat: no-repeat;
        opacity: 1;
        display: flex;
        justify-content: space-around;
      }
      .choose1{
        width: 40%;
        height: 60vh;
        margin-top: 100px;
      }
    .choose1 h1{
      font-size: 35px;
      color: white;
      font-family: Arial Black;

    }
    .choose1 p{
      font-size: 25px;
      color: white;
      line-height: 40px;
    }
      .choose2{
        width: 40%;
        height: 80vh;
        margin-top: 90px;
      background-color: white;
     
    }
      .choose2 form{
        height: 70vh;
        background-color: rgb(252, 83, 53);
          text-align: center;
      }
      .choose2 h1{
        height: 10vh;
        font-size: 36px;
        text-align: center;
      }
      .choose2 input , .choose2 select{
        width: 60%;
        height: 7vh;
        font-size: 25px;
        text-align: center;
        border-radius: 10px;
       border:none;
       margin-top: 38px;
      }
       /* Footer section */
       .footer{
        width: 100%;
        height: 60vh;
        color: white;
        background-color: rgb(24 24 60);
        display: flex;
        justify-content: space-evenly;
      }
      .footerfirst{
        width: 20%;
        height: 30vh;
      }
      .footersec{
        width: 40%;
        height: 30vh;
      }
      .footer .footerfirst button{
        width: 30px;
        height:30px;
        margin-left: 3px;
        background-color: rgb(24 24 60);
        border: 2px solid white;
        transition: 1s;
        border-radius: 5px;
        border:none;

      }
      .footer .footerfirst button:hover{
        background-color: white;
      }
      .footersec #ft{
        width: 60%;
        height: 7vh;
      font-size: 24px; }
      .footersec #ft1{
        width: 30%;
        height: 8vh;
      font-size: 24px;
       border:none;
       background-color: tomato; }
     .adress{
      width: 100%;
        background-color: rgb(24 24 60);
      height: 7vh;
       color: white;
       text-align: center;
     }