*{
    margin: 0px;
    padding: 0%;
}
.header1{
    width: 100%;
    height: 5vh;
    background-color: gray;
    display: flex;
    justify-content: center;
}
.header2
{display: flex;
    justify-content: space-between;
    width: 100%;
    height: 16vh;
    background-color: rgb(2, 2, 16);
   
}
.header3{
    width: 100%;
    height: 10vh;
    background-color: gray;
    position: relative;
    top: 20px;
    
}
.header3 p{
    position: relative;
    top:14px;
    left: 4px;
}
.header4{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    background-color:rgb(2, 2, 16) ;
    color: white;
    position: relative;
    top: 50px;
    align-items: center;
}
#a{
    width: 15%;
    height: 10vh;
    margin: 12px;
    font-size: 30px;
}#b{
    width: 15%;
    height: 10vh;
    margin: 12px;
    font-size: 30px;
    position: relative;
    left: -312px;
    color: white;
    background-color: yellow;
}
#c{
    width: 3%;
    height: 5vh;
    background-color: rgb(2, 2, 16);
    border: none;
color: gray;
position: relative;
left: -10px;
top: 20px;
}
#d{
    width: 4%;
    height: 10vh;
    background-color: yellow;
    font-size: 80;
    position: relative
    ;left: 101px;
    border: none;
}
#e{
    width:10%;
    height:10vh;
    background-color: lightgray;
    font-size: 80;
    border: none;
}
#f{
    width: 4%;
    height: 10vh;
    background-color: yellow;
    font-size: 80;
    position: relative
    ;left: -101px;
    border: none;
}
#g{
    margin: 12px;
    background-color: red;
}
/* #d{
    width: 4%;
    height: 10vh;
    background-color: yellow;
    font-size: 80;
} */


ul{
display: flex;
gap: 20px;
list-style: none;
}
.ul ul{
display: flex;
}
img{
    width: 70px;
    height: 60px;
    position: relative;
    left: 12px;
}
.box{width: 100%;
    height: 20vh;
    background-color:white;
    display: flex;
    position: relative;
    top: 70px;
    justify-content: space-between;
    align-items: center;
}
.box1{width: 100%;
    height: 20vh;
    background-color: lightgrey;
    display: flex;
    position: relative;
    align-items: center;
    top: 80px;
    justify-content: space-between;
}
.box2{width: 100%;
    height: 20vh;
    background-color: white;
    display: flex;
    position: relative;
    top: 90px;
    justify-content: space-between;
    align-items: center;
}
.box3{width: 100%;
    height: 20vh;
    background-color: lightgrey;
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-between;
    align-items: center;
}
.box4{width: 100%;
    height: 20vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 110px;
    align-items: center;
}